@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Raleway&family=Ubuntu&display=swap');

html,
body {
	margin: 0 auto;
	background: url(https://cdn.hipwallpaper.com/i/69/76/Iqbc14.jpg) 100% 100%;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
}

main {
	padding-top: 1rem;
}

/* 
////////////////// 
///// HOME ///////
//////////////////
 */

.home-wrapper {
	padding: 3rem;
}

.home-carousel-heading {
	color: white;
	font-size: 8vmin;
	padding: 1vmin;
	position: relative;
	top: 4vh;
}

.home-artist-statement-caption {
	margin-top: 4vh;
	padding: 2vmin 4vmin;
}

.home-artist-statement-container {
	display: grid;
	align-items: center;
	justify-content: center;
}

.home-artist-statement {
	text-indent: 2.5rem;
	padding: 0 4vmin;
	max-width: 80vw;
}

.home-statement-signature {
	font-family: cursive;
	font-size: 1.2rem;
	text-align: right;
	padding-right: 4vh;
}

.home-contact-us-container {
	text-align: center;
	display: grid;
	justify-content: center;
	align-items: center;
}

.home-contact-us {
	border-bottom: 2px solid black;
	font-size: 1.2rem;
	padding: 1vmin;
	margin-top: 4vmin;
}

.home-contact-us-number {
	font-size: 1rem;
}

/* 
//////////////////////
/////// NavBar ///////
//////////////////////
 */

.nav-caption-container {
	display: grid;
}
.nav-caption-container * {
	margin: 0 2rem;
}

#navbar,
.nav-caption {
	font-family: 'Ubuntu';
	font-size: 2vmin;
}

.nav-caption {
	letter-spacing: 0.2vmin;
	color: rgb(203, 249, 255);
	font-size: 3.5vmin;
}

#navbar a,
.logged-in {
	margin: 0;
	padding: 0.5rem;
	margin: 0.25rem;
	text-align: center;
}

#dropdown-links {
	padding: 0;
	margin: 0;
	letter-spacing: 0.1vmin;
	border-radius: 1ch;
	text-align: center;
}

#dropdown-links:hover {
	background: rgba(157, 209, 233, 0.589);
	transition: 0.5s;
}

#dropdown-links:active {
	background: none;
}

#nav-dropdown-item {
	letter-spacing: 0.15vmin;
	font-size: 1.5rem;
	margin: 0 auto;
}

#nav-dropdown-item:hover {
	background: pink;
}

.nav-second-category {
	border-top: 2px solid grey;
	display: grid;
	text-align: left;
}

/* 
////////////////////////////////////////////
// Artwork/ArtworkCategoryNav.js (SubNav) //
////////////////////////////////////////////
 */

.subnav-container {
	display: grid;
	text-align: center;
	/* justify-content: space-evenly; */
	border-top: 2px solid rgba(76, 116, 248, 0.37);
	border-bottom: 2px solid rgba(76, 116, 248, 0.37);

	margin: 2rem;
	border-radius: 2ch;
}

.active1 {
	background: rgba(126, 171, 230, 0.5);
}

.subnav-right {
	border-top: 1.5px solid rgba(76, 116, 248, 0.37);
}

.subnav-left > a,
.subnav-right > a {
	margin: 1rem 0rem;
	line-height: 3rem;
	padding: 1vmin 2vmin;
	transition: 1s;
	font-size: 1.5rem;
	font-family: 'Ubuntu';
	border-radius: 5px;
	color: rgb(81, 83, 119);
}

/* 
////////////////////////////
// Artwork/ArtworkForm.js //
////////////////////////////
 */

.form-img {
	height: 450px;
	padding: 2rem 0;
}

.artwork-form-container,
.artwork-all-container {
	display: grid;
	align-items: center;
	margin-top: 2rem;
	padding: 2rem 15vw;
}

.artwork-update-fullCategory {
	font-weight: 600;
}

#all-artwork-heading-text {
	border-bottom: 2px solid black;
	text-align: center;
	font-family: 'ubuntu';
}

#artwork-form-heading-text {
	border-radius: 1ch;
	border-top: 2px solid black;
	border-bottom: 2px solid black;

	background: rgba(162, 204, 252, 0.342);
	text-align: center;
	font-family: 'ubuntu';
}

.artwork-form-subheading {
	font-size: 3vmin;
	padding: 2vmin 0;
	text-align: center;
}

.artwork-form-form {
	display: grid;
}

.artwork-form-form button {
	margin: 1.5rem 0 0 0;
}

.artwork-form-form > label {
	margin-top: 1.8rem;
	font-weight: 600;
}

#description-label {
	/* margin-top: 0; */
}

.size-inputs {
	display: flex;
	justify-content: left;
	align-items: left;
}

.size-inputs-labels > *,
.size-inputs-inputs > * {
	margin-bottom: 1vmin;
}

.size-inputs-inputs {
	display: grid;
	padding-left: 2vmin;
}

.size-inputs-labels {
	display: grid;
}

.button-wrapper button {
	background-color: rgb(25, 118, 210);
	color: white;
	padding: 15px 10px;
	border: 0;
}

.drop-field {
	padding: 1rem;
	color: rgb(105, 105, 199);
}

.drop-field img {
	max-width: 50vw;
	max-height: 50vh;
}

/* 
////////////////////////////
// Artwork/ArtworkAll.js //
////////////////////////////
 */

.artwork-all-table {
}

.click-for-detail {
	color: rgb(115, 115, 165);
	font-size: 1rem;
	margin: 0 1vmin;
}

/* 
///////////////////////////////////
// Artwork/ArtworkCategorySub.js //
///////////////////////////////////
 */

.artwork-category-heading {
	border-bottom: 2px solid black;

	padding: 2vmin 0;
	margin: 2vmin 2rem;
	text-align: center;
	letter-spacing: 0.15vmin;
	font-family: 'ubuntu';
	font-size: 3rem;
}

.artwork-gallery-section {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.artwork-gallery-section * {
	text-align: center;
	margin: 2rem 0;
	padding: 2% 0;
}

.artwork-gallery-section img {
	width: 250px;
}
.artwork-gallery-section p {
	text-align: center;
	font-size: 1.5rem;
	font-family: 'ubuntu';
	letter-spacing: 0.15vmin;
}

.artwork-subcategory-heading {
	font-size: 2.5rem;
	letter-spacing: 0.5vmin;
	font-family: 'ubuntu';
	color: rgba(0, 100, 150, 0.7);
	margin: 4rem 5vmin 2rem 5vmin;
	text-align: center;
}

/* 
//////////////////////////////
// Artwork/ArtworkDetail.js //
//////////////////////////////
 */

.detail-pointer-arrow {
	margin: 2rem;
	font-size: 2rem;
}

.artwork-detail-container {
	display: grid;
	align-items: center;
	justify-content: center;
}

.artwork-detail-container img {
	width: 100%;
}

.artwork-detail-buttons-container {
	margin: 2rem 0;
	display: grid;
	align-items: center;
	justify-content: center;
}
.artwork-detail-buttons-container > button,
.artwork-detail-buttons-container > a {
	border-radius: 4ch;
}

.artwork-detail-headings-container {
	text-align: center;
	font-family: 'ubuntu';
	margin: 2rem 0;
}

.artwork-detail-title {
	border-bottom: 2px solid black;
	margin-bottom: 2rem;
}

.artwork-detail-description {
	color: grey;
}

.artwork-detail-fullCategory {
	letter-spacing: 0.5vmin;
	margin: 1rem;
}

/* 
//////////////////////////////////////
// Password/ SignIn.js & SignUp.js ///
//////////////////////////////////////
 */

#valid {
	display: none;
}

#invalid {
	color: red;
}

.logged-in {
	color: rgb(46, 61, 145);
	font-size: 2vmin;
	font-family: arial;
	font-weight: 800;
}

.loggin-container {
	margin: 2rem;

	display: grid;
	justify-content: center;
	align-items: center;
}

.loggin-form-title {
	font-family: 'ubuntu';
	text-align: center;
	font-size: 3rem;
}

.sign-in-form {
	margin: 2rem;
	padding: 2rem;
	background: rgba(252, 215, 215, 0.308);
	border-radius: 1ch;
	display: grid;
	width: 60vw;
}

.sign-in-text {
	text-align: center;
	margin: 0.5rem;
}

#admin-container-label,
#sign-in-toggle {
	font-family: 'ubuntu';
}

#admins-only-message {
	font-weight: 500;
	color: rgba(0, 0, 0, 0.644);
}

.sign-in-submit-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sign-in-row {
	display: flex;
	justify-content: space-between;
}

.sign-in-last-row {
	display: grid;
	justify-content: center;
}

/* 
///////////////////////////////
//////////// About ////////////
///////////////////////////////
 */

.about-wrapper {
	display: grid;
}

.about-title {
	font-size: 3rem;
	font-family: 'ubuntu';
	text-align: center;
}

.about-bio-section {
	display: flex;
	align-items: center;
	justify-content: center;
}

#about-grid-section {
	display: grid;
}

.about-bio-section-text {
	margin: 1rem;
	padding: 1rem;
	font-family: arial;
	font-weight: 400;
	font-size: 2.5vmin;
	letter-spacing: 0.1vmin;
	text-indent: 8%;
}



/* 
///////////////////////////////
//////////// Footer ///////////
///////////////////////////////
 */

#footer-title {
	text-align: right;
}

/* 
///////////////////////////////
//////////// @media ///////////
///////////////////////////////
 */

@media only screen and (min-width: 1550px) {
	.home-artist-statement {
		max-width: 56vw;
	}
}

@media only screen and (min-width: 1260px) {
	.subnav-container {
		margin: 4vmin 25vw;
	}
}

@media only screen and (min-width: 900px) {
	.size-inputs {
		justify-content: left;
		align-items: center;
	}
	.size-inputs-inputs > * {
		width: 30vw;
	}
	.subnav-container {
		margin: 4vmin 15vw;
	}
}

@media only screen and (max-width: 1000px) {
	.subnav-left > a,
	.subnav-right > a {
		font-size: 1rem;
	}
	.size-inputs-inputs,
	.size-inputs-labels {
		display: grid;
	}
}

@media only screen and (max-width: 660) {
	/* #footer-title {
		text-align: center;
	} */
}

@media only screen and (max-width: 765px) {
	#footer-title {
		text-align: center;
	}
}

@media only screen and (max-width: 700px) {
	.logged-in {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	#navbar {
		font-size: 1rem;
	}
	.subnav-container {
		border-radius: 0;
		justify-content: none;
		border: 2px solid rgba(76, 116, 248, 0.37);
	}
	.subnav-left,
	.subnav-right {
		display: grid;
	}
	.subnav-left > a,
	.subnav-right > a {
		font-size: 1rem;
		margin: 0;
		line-height: 3.5vmin;
		padding: 0.5rem 0;
		border-radius: 0;
		transition: 0.2s;
	}
	.subnav-left > a:hover,
	.subnav-right > a:hover {
		background: rgba(70, 192, 248, 0.521);
	}

	@media only screen and (max-height: 375px) {
		.subnav-left > a,
		.subnav-right > a {
			padding: 0.5rem 0;
		}
	}
}
